/* ********** Custom Properties ********** */

:root {
    --primary-font: 'Sora', sans-serif;
    --purple: #883AE1;
    --light-pruple: #E6D6FC;
    --white: #FFFFFF;
    --softIvory: #FAFAF9;
    --coolMist: #E5EAF0;
    --bluish-gray: #6C727F;
    --dark-blue: #20293A;
}

/* ********** Reset ********** */

html {
    font-size: 16px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--primary-font);
}

*,
*:before,
*:after {
    box-sizing: inherit;
    overflow-x: hidden;
}

body {
    background-color: var(--softIvory);
    margin: 0;
    height: 100vh;
}

a,
a:visited {
    text-decoration: none;
}

b,
strong {
    font-weight: bolder;
}

button {
    background-color: transparent;
    border: none;
}

img {
    max-width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* ********** Components ********** */
/* ****** Card ****** */
.card {
    max-width: calc(21rem + 2rem);
    margin: auto;
    padding: 0 1rem;
    margin-top: 10.25rem;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
    overflow-x: hidden;
}

.card--header img{
    width: 100%;
    max-height: 9.5rem;
    margin-top: 1rem;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}

.card--header button{
    margin-top: 1rem;
    padding: .375rem 1rem;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}

.card--body h2{
    margin: 0;
    margin-top: 1rem;
}

.card--body p{
    margin: 0;
    margin-top: .375rem;
}
.card--footer{
    position: relative;
    width: 120%;
    border-top: 1px solid;
    margin-top: 1.25rem;
    padding: 1.25rem 1rem ;
    left: -1rem;
}

/* ********** Utilities ********** */
.text-small{
    font-size: .75em;
}
.text-body{
    font-size: .875em;
}
.text-tag{
    font-size: .625em;
}
.text-title{
    font-size:1.125em;
}

/* ********** Site Styles ********** */
.card{
    box-shadow: 7px 7px 22px -12px rgba(0,0,0,0.42);
}

.card--header button{
    color: var(--purple);
    font-weight: 600;
    background-color: var(--light-pruple);
}

.card--body h2{
    color: var(--dark-blue);
}

.card--body p{
    color: var(--bluish-gray);
    font-weight: 300;
}
.card--footer{
    border-color: var(--coolMist);
}
.card--footer span{
    font-weight: 400;
    color: var(--bluish-gray);
}